header {
    background-color: aquamarine;
    height: 100px;
    padding: 20px;
    color: #000;
}

section {
    height: 100%;
    text-align: center;
    padding: 50px;
}

.flex {
    display: flex;
    align-items: center;
}

.flexColumn {
    flex-direction: column;
}

.col-25 {
    width: 25%;
}
.col-50 {
    width: 50%;
}

h1 {
    font-family: "Over the Rainbow";
    font-size: 30px;
    margin: 0 1em;
}

h2 {
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 300;
}

h3 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0;
}

h4 {
    font-family: "Open Sans";
    font-weight: 300;
}

p {
    font-family: "Open Sans";
}

.standOutText {
    font-weight: 500 !important;
    font-family: "Lato";
    width: 70%;
    margin: 0 auto;
    font-size: 24px !important;
    line-height: 1.5em;
}

.gray {
    color: #827e7e;
}

.smallFont {
    font-size: 12px;
}

/*==================Intro section======================*/
#boxImg {
    width: 400px;
    margin: 0 auto;
}

#mainSection {
    background-color: #84fdfd;
}

/*======================Slideshow======================*/
#slideshowSection {
    background-color: #fff;
    padding: 50px 0 100px;
}

#slideshowSection h4 {
    margin-bottom: 40px;
}

.slide img {
    height: 400px;
    margin: 0 auto;
}

.directionIcon {
    position: absolute;
    top: 50%;
    margin-top: -102px;
}

.directionIcon img {
    height: 200px;
}

.iconRight {
    right: 20px;
}

.iconLeft {
    left: 20px;
}

/*======================Instructions======================*/

#instructionsSection {
    min-height: 500px;
    background-color: #fffdb8;
}

#instructionsSection img {
    width: 400px;
    margin-bottom: 2em;
}

#instructionsSection h4 {
    font-size: 30px;
}

#instructionsSection p {
    font-size: 20px;
    font-weight: 300;
}

/*======================Memory game======================*/

.memoryCard {
    width: 200px;
    padding: 20px;
}

#memoryGameWrapper {
    width: 960px;
    margin: 0 auto;
}

.slick-list {
    margin: 0 100px;
}
/*======================Contact======================*/
.socialIcon img {
    height: 50px;
}

#contactSection {
    background-color: #84fdfd;
}

/*======================Flowers======================*/
.movingFlowers {
    position: absolute;
}

#flower5 {
    top: 500px;
    right: 10px;
    height: 300px;
}

#flower4 {
    top: 600px;
    left: 0;
    height: 200px;
}

.animateFlowers {
    animation: rotate 2s linear;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    50% {
        transform: translate(50px, 50px) rotateZ(10deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate(100px, 100px) rotateZ(20deg);
        animation-timing-function: ease-in-out;
    }
}

/*======================Media queries======================*/

@media all and (max-width: 1199px) {
    h2 {
        font-size: 46px;
    }

    .slide img {
        height: 350px;
    }

    .memoryCard {
        padding: 10px;
    }

    #memoryGameWrapper {
        width: 880px;
    }
}

@media all and (max-width: 991px) {
    section {
        padding: 30px;
    }
    #boxImg {
        width: 350px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 34px;
    }

    #instructionsSection h4 {
        font-size: 26px;
    }

    p.standOutText {
        font-size: 20px !important;
    }

    .memoryCard {
        width: 23%;
        padding: 1%;
    }
    #memoryGameWrapper {
        width: 640px;
    }

    #instructionsSection img {
        width: 300px;
    }
}
@media all and (max-width: 768px) {
    h1 {
        text-align: center;
    }
    .col-50 {
        padding: 20px;
    }
    #boxImg {
        width: 100%;
    }
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 30px;
    }
    #instructionsSection h4 {
        font-size: 21px;
    }
    #instructionsSection p {
        font-size: 18px;
    }
    p.standOutText {
        font-size: 18px !important;
        width: 100%;
    }

    #memoryGameWrapper {
        width: 100%;
    }
}
@media all and (max-width: 575px) {
    h1 {
        font-size: 28px;
    }
    section {
        padding: 20px;
    }
    .xs-flex-column {
        flex-direction: column;
    }
    .xs-col-100 {
        width: 100%;
    }
    #boxImg {
        width: 250px;
    }
    h2 {
        font-size: 30px;
        margin: 5px;
        display: inline;
    }
    h3 {
        font-size: 28px;
        margin-top: 0;
    }
    .memoryCard {
        width: 30%;
    }

    #slideshowSection {
        background-color: #fff;
        padding: 30px 0 60px;
    }

    .directionIcon img {
        height: 150px;
    }

    .slick-list {
        margin: 0 70px;
    }
    .slide img {
        height: 300px;
    }
}
